.manage-organism .parameters {
	-fx-padding: 3;
	-fx-spacing: 5;
}
.manage-organism .parameters .parameter {
	-fx-spacing: 5;
	-fx-alignment: center-left;
}
.manage-organism .add {
	-fx-padding: 10 3 3 3;
}
.manage-organism .add .label {
	-fx-padding: 10 3 3 3;
	-fx-font: bold 18 sans-serif;
}
